rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /intereses/{interesId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /usuario/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /bloqueos/{bloqueoId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.from;
      allow delete: if request.auth != null
                    && resource.data.from == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}